.signup{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid black;
    border-radius: 3%;
    padding: 5%;
    color: black;
    background-color: silver;
}
#submit{
    background-color: blue;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
  background: radial-gradient(black, white);
}